body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  align-items: center;
  justify-content: center;
   /* Full viewport height */
  display: flex;
  
  background: 
    url("./images/gajma.jpg");
    background-blend-mode: normal;
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  background-color: #c29764;  /* Default background color */
  border-color: #c29764 ; /* Default border color */
  color: #fff; /* Text color */
  font-weight: bold; /* Bold text */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover */
}

.btn-primary:hover {
  background-color: #c29764; /* Hover background color */
  cursor: pointer; /* Pointer cursor on hover */
  transform: scale(1.05); /* Slightly increase button size on hover */
}

